body{
  background-color: black;
}
.heading{
  border-bottom:1px solid white;
}
.link{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.link:hover{
  color: #FFD700;
  text-decoration: none;
}
