{% extends "show/base_show.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<br><br>
<div class="container" style="color:white;">
  <div class="row">
    <div class="col-md-10 heading">
      <h1>{{show.titleName}}&nbsp({{show.year}})</h1>
    </div>

  </div><br>
  <div class="row">
    <div class="col-md-6"><img src="/media/{{show.titlePoster}}" width="500px" height="300px"></div>
    <div class="col-md-4">
      <b style="color:#FFD700;">Directed By</b> :
      {% for director in Directors %}
        <a href="{% url 'cast:Director' director.id %}">{{director.name}}</a>&nbsp
      {% endfor %}<br>
      <b style="color:#FFD700;">Produced By</b> :
      {% for producer in Producers %}
        <a href="{% url 'cast:Producer' producer.id %}">{{producer.name}}</a>&nbsp
      {% endfor %}  <br>
      <b style="color:#FFD700;">Release Date</b> :   {{show.releaseDate}}<br>
      <b style="color:#FFD700;">Budget</b> : Rs. {{show.budget}}<br>
      <b style="color:#FFD700;">Collection</b> :Rs. {{show.BoxOfficeCollection}}<br>
      <b style="color:#FFD700;">Languages</b> <br>
      <ul>
        {% for lang in Languages %}
        <li>{{lang.languages}}</li>
        {% endfor %}
      </ul>

      <b style="color:#FFD700;">Genres</b> <br>
      <ul>
        {% for genre in Genres %}
        <li>{{genre.genres}}</li>
        {% endfor %}
      </ul>
        <br>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-9">
      <b style="color:#FFD700;">Movie Plot</b> : {{show.storyLine}}
    </div>
  </div><br><br><br>
  <div class="row">
    <div class="col-md-10 heading">
      <h3>Cast & Crew</h3>
    </div>
  </div><br>
  <div class="row">
    {% for cast in cast %}
    <div class="col-md-2 cast" style="text-align:center;">
      <a href="{% url 'cast:Cast' cast.id %}" class="link"><img src="/media/{{ cast.photo }}" width="180px" height="250px"></a><br>
      <a href="{% url 'cast:Cast' cast.id %}" class="link">{{cast.name}}</a>
    </div>
    {% endfor %}
  </div><br><br>
  <div class="row">
    <div class="col-md-10 heading">
      <h3>Review & Ratings</h3>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-5">
      <b  style="color:#FFD700;">KYS Rating</b> :
    </div>
  </div><br><br><br>
</div>

{% endblock content %}
