{% extends "cast/base_cast.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<br><br>
<div class="container" style="color:white;">
  <div class="row">
    <div class="col-md-12 heading">
      <h1>{{Cast.name}}</h1>
    </div>
<hr>
  </div><br>
  <div class="row">
    <div class="col-md-4"><img src="/media/{{ Cast.photo }}" width="300px" height="400px"></div>
    <div class="col-md-6">
        <b style="color:#FFD700;">Profession </b> <br>
        <ul>
          {% for profession in castProfession %}
          <li>{{profession.name}}</li>
          {% endfor %}
        </ul><br>
        <b style="color:#FFD700;">Age </b> : {{Cast.age}}<br><br>
        <b style="color:#FFD700;">Started Movies From </b> : {{yearStarted}}
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-12 heading">
      <h3>Movies Acted In</h3>
    </div>
  </div><br>
  <div class="row">
    {% for movie in moviesActed %}
    <div class="col-md-2 movie_acted"  style="text-align:center;">
      <a href="{% url 'show:movie' movie.id %}" class="link">
        <img src="/media/{{ movie.titlePoster1 }}" width="180px" height="250px">
      </a><br>
      <a href="{% url 'show:movie' movie.id %}" class="link">{{movie.titleName}}</a><br>({{movie.year}})<br>
    </div>
    {% endfor %}
  </div><br><br>
  <div class="row">
    <div class="col-md-12 heading">
      <h3>Personal Information</h3>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-9">
      <b style="color:#FFD700;">Born </b> :   {{Cast.dob}} <b style="color:#FFD700;">in</b> {{Cast.birthPlace}} <br><br>
      <b style="color:#FFD700;">Biography</b> : {{Cast.biography}}<br>
    </div>
  </div>
</div>
<br><br>
{% endblock content %}
