{% extends "cast/base_cast.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12 heading">
      <h1>{{crew.name}}</h1>
    </div>
<hr>
  </div><br>
  <div class="row">
    <div class="col-md-4"><img src="/media/{{ crew.photo }}" width="300px" height="400px"></div>
    <div class="col-md-6">
        <b style="color:deepskyblue;">Profession </b> <br>
        <ul>
          {% for profession in castProfession %}
          <li>{{profession.name}}</li>
          {% endfor %}
        </ul>
        <b style="color:deepskyblue;">Age </b> : {{crew.age }}<br><br>
        <b style="color:deepskyblue;">Started Movies From </b> : {{yearStarted }}
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-12 heading">
      <h3>{% if key %}Movies Directed{% else %}Movies Produced{% endif %}</h3>
    </div>
  </div><br>
  <div class="row">
    {% for movie in crewMovies %}
    <div class="col-md-2 movie_acted"  style="text-align:center;">
      <a href="{% url 'show:movie' movie.id %}" class="link">
        <img src="/media/{{ movie.titlePoster1 }}" width="180px" height="250px">
      </a><br>
      <a href="{% url 'show:movie' movie.id %}" class="link">{{movie.titleName}}</a><br>({{movie.year}})<br>
    </div>
    {% endfor %}
  </div><br><br>
  <div class="row">
    <div class="col-md-12 heading">
      <h3>Personal Information</h3>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-9">
      <b style="color:deepskyblue;">Born </b> :   {{crew.dob}} <b style="color:deepskyblue;">in</b> {{crew.birthPlace}} <br><br>
      <b style="color:deepskyblue;">Biography</b> : {{crew.biography}}<br>
    </div>
  </div>
</div>
<br><br>
{% endblock content %}
