

body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.heading{
  border-bottom:1px solid white;
}

.link{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.link:hover{
  color: #FFD700;
  text-decoration: none;
}



.button {
  background-color:  #ffc119;
  border: none;
  color: black;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 0.5px;
  cursor: pointer;
}
