

body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.heading{
  border-bottom:1px solid white;
}

.link{
  text-decoration: none;
  color:black;
  font-size: 25px;
}
.link:hover{
  color: #FFD700;
  text-decoration: none;
}

.modal-title{
  color:black;
}
.modal-sub{
  color:black;
}
textarea {
  resize:none;
  overflow:auto;
}
/* .modal-content{
  border: 1px solid white;
}
.modal-body,.modal-header,.modal-footer{
  background-color: black;
} */

.button {
  background-color: black;
  border: none;
  color: #ffc119;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 0.5px;
  cursor: pointer;
  border:1px solid #ffc119;
}

.button:hover{
  background-color:  #ffc119;
  color:black;
}

/* .rate_btn{
  margin-bottom: 15px;
} */
